<br>
show works!
<br><br>
<button routerLink="./answer">Add Answer</button>
<br><br>
Answer: <br>
<ul>
  <li>ans 1
    <button routerLink="./detail/1">detail</button>
  </li>
  <li>ans 2
    <button routerLink="./detail/2">detail</button>
  </li>
  <li>ans 3
    <button routerLink="./detail/3">detail</button>
  </li>
</ul>
<br><br>
<button routerLink="/forms">back</button>