<p>
  answer works!
  <br>
  name:<input type="text" placeholder="name"><br>
  description: <textarea name="" id="" cols="30" rows="10"></textarea><br>
  <br>
  <button routerLink="../../../show/1">back</button>
</p>