<p>
  navbar works!
</p>
<button routerLink="/forms">myforms</button>
<button routerLink="/forms/share">shareforms</button>
<button routerLink="/forms/new">newform</button>
<button routerLink="/settings/account">user</button>
<button (click)="logout()">Logout</button>